body{
	color:#555555;
	font-size: 13px;
}
h1,h2,h3{
	color:#F7BE81;
	font-family: 'Abril Fatface', cursive;
}
h5{
	color:#6E6E6E;
	font-family: 'Abril Fatface', cursive;
}
.list-nav{
	text-align: center;
	padding-top: 10px;
}
.list-nav li{
	display: inline-block;
}
.list-nav a{
	display: block;
	padding: 5px 20px;
	color:#F7BE81;
	font-family: 'Abril Fatface', cursive;
	transition:all 0.5s;
}
.list-nav a:hover{
    text-decoration: none;
    background: #ECECEC;
    transform: scale(1.2)
}
.logo{
	width: 40px;
	height: 60px;
	border-radius: 60%;
}
.header_content{
	background: url("../images/portada.jpg")center center;
	background-size: cover;
	color:#FFF;
    text-align: center;
    padding: 100px 0;
    opacity:0.9;
}
.header_content h1{
	color:#FFF;
	text-shadow:2px 2px 0.2px #000000;
}
.frase{
	margin-top: 20px;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	text-shadow:2px 2px 0.2px #000000;
}
.sobre-mi .biografia img{
	float:left;
	width: 200px;
	margin-right: 15px;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.sobre-mi{
	background: url(../images/tile1.png);
}
.biografia{
	text-align: justify;
	font-size:14px; 
}
.fb-like{
	margin-left: 100px;
}
.list-images{
	text-align: center;
}
.list-images li{
	display: inline-block;
}
.list-images p{
	display: block;
	padding: 5px 20px;
	color:#BDBDBD;
	font-family: 'Abril Fatface', cursive;
	transition:all 0.5s;
}
.list-images p:hover{
    text-decoration: none;
    color:#F7BE81;
    transform: scale(1.2)
}
.imagenes{
	width: 200px;
	height: 200px;
	display: inline-block;
	border-radius: 100%;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.list-portfolio li{
	display: inline-block;
	margin-right: 20px;
}
.list-portfolio p{
	display: block;
	padding: 5px 20px;
	color:#BDBDBD;
	font-family: 'Abril Fatface', cursive;
	transition:all 0.5s;
}
.list-portfolio p:hover{
    text-decoration: none;
    color:#F7BE81;
    transform: scale(1.2)
}
.imag{
	width: 250px;
	height: 150px;
	border: 5px solid black;
}
.favoritos, .contactame{
	text-align: center;
}
.contactame{
	background: url(../images/tile2.png);
	height: 320px;
}
.contact{
	width: 50px;
}
.list-contactame li{
	display: inline-block;
	margin-right: 20px;
}
.list-contactame p{
	display: block;
	padding: 5px 20px;
	color:#6E6E6E;
	font-family: 'Abril Fatface', cursive;
	transition:all 0.5s;
}
.list-contactame p:hover{
    text-decoration: none;
    color:#F7BE81;
    background: #ECECEC;
    transform: scale(1.2)
}
.footer{
	background-color: #151515;
	color: #848484;
	height: 100px;
}