body{
	color:#555555;
	font-family: Arial, sans-serif;
	font-size: 13px;
}
h1,h2,h3,h4{
	color:#A9268D;
	font-family: "Oswald", Arial,sans-serif;
}
.list-nav{
	text-align: center;
}
.list-nav li{
	display: inline-block;
}
.list-nav a{
	display: block;
	padding: 5px 20px;
	color:#555555;
	font-family: "Oswald", Arial, sans-serif;
	transition:all 0.5s;
}
.list-nav a:hover{
    text-decoration: none;
    background: #ECECEC;
    transform: scale(1.2)
}
.header_content{
	background: url("../images/Dubai2.jpg")center center;
	background-size: cover;
	color:#FFF;
    text-align: center;
    padding: 100px 0;
}
.header_content h1{
	color:#FFF;
}
.frase{
	margin-top: 20px;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;
	text-shadow:2px 2px 0.2px #000000;
}
.sobre-mi .biografia img{
	float:left;
	width: 200px;
	margin-right: 15px;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.sobre-mi{
	background: url(../images/tile1.png);
}
.biografia{
	text-align: justify;
	font-size:14px; 
}
.list-images{
	text-align: center;
}
.list-images li{
	display: inline-block;
}
.list-nav a{
	display: block;
	}
.imagenes{
	width: 300px;
	height: 300px;
	display: inline-block;
	border-radius: 100%;
	border: 1px dashed #BDBDBD;
	padding: 5px;
}
.favoritos, .contactame{
	text-align: center;
}
.contactame{
	background: url(../images/tile2.png);
	height: 320px;
}
.list-contactame li{
	display: inline-block;
	margin-right: 20px;
}